<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 可能是适配移动端用的 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>停车位查看</title>
  </head>

  <body>
    <div id="center_board">
      <h2 id="title">当前可用停车位信息</h2>

      <%dbMgr = DBManager.new%>
      <%dbMgr.view.each do |info|%>
      <%next unless (info[1] <= Time.now.to_i and Time.now.to_i <= info[2])%>
      <li>
      <b><%=info[0]%></b>: 
      <%=Time.at(info[2]).strftime("%m/%d %H:00")%>到期,
      剩余<%=(info[2] - Time.now.to_i)/3600%>小时
      </li>
      <%end%>
      <%dbMgr.closeDB%>

      <div id="copyright"></div>

      <script type="text/javascript">
        copyright.innerHTML = "&copy; 2016-" + (new Date()).getFullYear() + " by zhanglintc";
      </script>
    </div>
  </body>
</html>