<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 可能是适配移动端用的 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="dateSelector.js"></script>
    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="serial.js"></script>

    <title>停车位发布</title>
  </head>

  <body>
    <div id="center_board">
      <h2 id="title">停车位发布</h2>

      <div class="line">
        开始时间:
        <select id="selYear_s"></select>
        <select id="selMonth_s"></select>
        <select id="selDate_s"></select>
        <select id="selHour_s"></select>
      </div>

      <div class="line">
        结束时间:
        <select id="selYear_e"></select>
        <select id="selMonth_e"></select>
        <select id="selDate_e"></select>
        <select id="selHour_e"></select>
      </div>

      <div class="line">
        车位编号:
        <input id="parking_deck" type="text" placeholder="完整车位号例如: B031">
      </div>

      <div class="line">
        范围确认:
        <span id="period_cfm"></span>
      </div>

      <div class="line">
        时长确认:
        <span id="time_cfm"></span>
      </div>

      <div id="btn_board">
        <button id="submit">提交</button>
        <button id="cancel">取消</button>
      </div>

      <div id="copyright"></div>

      <script type="text/javascript">
        var ds = new DateSelector();

        var submit = window.document.getElementById("submit");
        submit.onclick = function() {
          parking_deck.value = parking_deck.value.toUpperCase();
          if(!SERIAL_INFO.data.contains(parking_deck.value)) {
            alert("该车位不存在，请重新输入！");
            reture;
          }
          params = {
            from: ds.date_s.getTime(),
            to: ds.date_e.getTime(),
            serial: parking_deck.value,
          }
          post("/publish", params);
        }

        var cancel = window.document.getElementById("cancel");
        cancel.onclick = function() {
          alert("取消");
        }

        copyright.innerHTML = "&copy; 2016-" + (new Date()).getFullYear() + " by zhanglintc";
      </script>
    </div>
  </body>
</html>