<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="refresh" content="3; URL=/view">

    <!-- 可能是适配移动端用的 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Jumping</title>
  </head>

  <body>
    <div id="center_board" align="center">
      <p id="txt"></p>

      <script type="text/javascript">
          var times = 3;
          setTxt();

        function setTxt() {
          if(times < 0) return;

          txt.innerText = "发布成功, " + times + "秒后跳转到停车位查看页面...";
          times -= 1;
          window.setTimeout("setTxt()", 1000);
        }
      </script>
    </div>
  </body>
</html>