<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- 可能是适配移动端用的 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="utils.js"></script>

    <title>停车位查看</title>
  </head>

  <body>
    <div id="center_board">
      <h2 id="title">查看可用停车位信息</h2>

      <%
      # info[0]: serial
      # info[1]: start
      # info[2]: end
      %>

      <%dbMgr = DBManager.new%>
      <%dbMgr.view.each do |info|%>
      <%next unless Time.now.to_i <= info[2]%>
      <li>
      <b><%=info[0]%></b>:
      <br/>
      &nbsp;&nbsp;
      <%=Time.at(info[1]).strftime("%m月%d日%H时")%>
      -
      <%=Time.at(info[2]).strftime("%m月%d日%H时")%>
      &nbsp;
      <a href="javascript:if(confirm('信息删除操作不可恢复,\n请勿删除他人发布信息!\n\n确定要删除该条信息?'))post('/delete', {serial: '<%=info[0]%>'});">
        删除<br/><br/>
      </a>
      </li>
      <%end%>
      <%dbMgr.closeDB%>

      <div id="copyright"></div>

      <script type="text/javascript">
        copyright.innerHTML = "&copy; 2016-" + (new Date()).getFullYear() + " by zhanglintc";
      </script>
    </div>
  </body>
</html>
